:root {
    --baseline-100 : 222, 9%, 4%;
    --baseline-200 : 222, 9%, 9%;
    --baseline-300 : 222, 9%, 15%;
    --baseline-400 : 222, 9%, 35%;
    --baseline-50  : 222, 9%, 1%;
    --baseline-500 : 222, 9%, 45%;
    --baseline-600 : 222, 9%, 85%;
    --baseline-700 : 222, 9%, 93%;
    --baseline-800 : 222, 9%, 96%;
    --baseline-900 : 222, 9%, 99%;
    --baseline-hue : 222;
}