
body#login
{
    background : hsla(var(--primary-soft), 0.15);
}

body#login svg#background
{
    position : fixed;
    inset    : 0;
    z-index  : -1;
}

.out-top
{
    /*color: hsla(var(--primary));*/
    color : hsla(var(--primary-soft), 0.05);
}

.in-top
{
    /*color: hsla(var(--primary-tint));*/
    color : hsla(var(--primary-dull), 0.05);
}

.out-bottom
{
    color : hsla(var(--primary-soft), 0.05);
}

.in-bottom
{
    color : hsla(var(--primary-soft), 0.045);
}