/*#region Intent - Ripple */

/*Debug*/
/*.ripple:active {*/
/*    outline        : 4px solid #ff149350;*/
/*    outline-offset : -2px;*/
/*}*/
/*.ripple.clicked {*/
/*    outline        : 4px solid rgba(20, 255, 235, 0.31);*/
/*    outline-offset : -2px;*/
/*}*/

.animation-paused,
.animation-paused *,
.animation-paused::before,
.animation-paused::after
{
    animation-play-state: paused !important;
}

.ripple {
    --interaction : hsla(var(--color, var(--baseline-100)), .125);
}

.ripple > i.boundary {
    position       : absolute;
    z-index        : -1;
    inset          : 0;
    border-radius  : var(--radius, 0);
    overflow       : hidden;
    pointer-events : none;
}

.ripple > i.boundary > i {
    position       : absolute;
    width          : 100%;
    padding-bottom : 100%;
    border-radius  : 50%;
    background     : var(--interaction);
    opacity        : 0;
    transition     : opacity 300ms ease, background 200ms ease;
    animation      : interaction-intent 900ms ease-in-out forwards;
}

.ripple.clicked > i.boundary > i,
.ripple:hover > i.boundary > i { opacity : 1; }

/*.ripple > i.interaction.out > i { opacity : 0;}*/

@keyframes interaction-intent {
    0% { transform : translate(-50%, -50%) scale(0); }
    100% { transform : translate(-50%, -50%) scale(4); }
}


/*#endregion */