[tooltip-placement] {
    --tooltip-offset	: 2px;
    --tooltip-delay		: 200ms;
    --tooltip-radius	: 2px;
    --tooltip-padding	: 3px 3px 2px 3px;
    position: relative;
    cursor: pointer;
}


[tooltip-placement] tooltip {
    position			: absolute;
    /* top					: calc(100% + var(--tooltip-offset)); */
    top					: calc(var(--tooltip-offset) * -1);
    left				: var(--tooltip-offset);
    z-index				: 30;

    display				: flex;
    align-items			: center;
    gap					: .5ch;
    border-radius		: var(--tooltip-radius);

    /* background-color	: hsla(var(--baseline-400)); */
    background-color	: teal;
    color				: hsl(var(--baseline-900));
    padding				: var(--tooltip-padding);
    /*font-size			: .75rem;*/
    font-size			: 13px;
    line-height			: 12px;
    white-space			: nowrap;
    pointer-events		: none;
    opacity				: 0;
    transform			: translate(0, -100%);
    transition			: opacity 200ms ease var(--tooltip-delay, 0ms);
}

[tooltip-placement]:hover > tooltip,
[tooltip-placement]:focus-visible > tooltip {
    opacity : 1;
}


tooltip kbd {
    font-size		: 10px;
    line-height		: 10px;
    padding			: 2px;
    font-weight		: var(--font-bold);
    /*padding-top		: 1px;*/
    /*outline			: 1px solid hsl(var(--primary-soft));*/
    color			: hsla(var(--baseline-700));
    border-radius	: calc(var(--tooltip-radius) / 2);
}