html {
    --warning: 52, 85%, 60%;
    --error: 3, 85%, 60%;
    --success: 133, 85%, 60%;
}

/* Remove Focus Outline */
field input:focus,
field textarea:focus,
field select:focus {
    outline: none;
}

field {
    --height: 2rem;
    --radius: 0.25rem;
    --gap: 1rem;

    --field-label-gap: 0.5rem;
    --field-outline-hover: hsla(var(--primary-dull));
    --field-outline-active: hsla(var(--primary-tint));

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 28rem;
    min-width: 12rem;
    width: 100%;
    /* flex			: 1 0 40%; */
    pointer-events: none;
}

field > * {
    pointer-events: auto;
}


field input[name] {
    height: var(--height);
    /* width	: 100%; */
    flex-grow: 1;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}


field .input {
    position: relative;
    display: flex;
    color: hsla(var(--color));
    background-color: hsla(var(--background));
    border-radius: var(--radius);
    outline: 1px solid hsla(var(--outline));
    transition: outline-color 200ms ease-in-out;
}

field .input:focus-within,
field .input:hover {
    --outline: var(--intent), 0.5;
}

fieldset .input:focus-within::after,
field:focus-within .input::after {
    opacity: 0.5;
}

/*field label,*/
fieldset > .label,
field > .label {
    display: inline-flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1;
    cursor: pointer;
    padding: 0.5rem 0;
}

/*field > label,*/
fieldset > .label,
field > .label {
    opacity: 0.75;
    transition: opacity 200ms ease-in-out;
}

/*field:hover > label,*/
/*field:focus-within > label,*/
fieldset:focus-within > .label,
fieldset:active > .label,
fieldset:hover > .label,
field:hover > .label,
field:focus-within > .label {
    opacity: 1;
}