/*#region Button */

.button {
    --color         : var(--baseline-200);
    --background    : transparent;
    --outline-color : transparent;
    --focus         : hsla(var(--intent), .75);
    --radius        : 0.25rem;

    position        : relative;
    z-index         : 5;

    display         : inline-flex;
    align-items     : center;
    gap             : 0.5rem;
    padding         : .438rem .875rem;
    border-radius   : var(--radius, 0);

    color           : hsla(var(--color));

    font-size       : 1rem;
    line-height     : 1.5;

    transition      : color 200ms ease;
    will-change     : color;

    cursor          : pointer;
    white-space     : nowrap;
    user-select     : none;

    outline         : none;
}

.button:hover,
.button:focus-visible,
.button:active {
    --color      : var(--baseline-50);
    --background : var(--baseline-700);
}

.button:before,
.button:after {
    content       : '';
    z-index       : -2;
    position      : absolute;
    border-radius : var(--radius, 0);
}

/* Background */
.button::after {
    inset            : 0;
    background-color : hsla(var(--background));
    transition       : background-color 300ms ease-in-out;
}

/* Focus Visible outline  */
.button::before {
    inset         : 2px;
    outline       : 2px solid var(--focus, currentColor);
    border-radius : var(--radius);

    opacity       : 0;
    transition    : opacity 200ms ease, inset 100ms ease;
}

.button:focus-visible::before {
    z-index : -5;
    opacity : 1;
    inset   : -2px;
}

.button svg {
    pointer-events : none;
    transition     : color 200ms ease;
}

/*#endregion */

/*#region Primary */

.button.primary {
    --color       : var(--primary-full);
    --interaction : hsla(var(--primary));
    --background  : var(--baseline-300);
    box-shadow    : 1px 1px 12px -5px hsla(var(--baseline-200), .25);
}

.button.primary.clicked,
.button.primary:hover:active,
.button.primary:hover,
.button.primary:focus-visible {
    --background : var(--baseline-100);
    /*--background : hsla(var(--intent));*/
}


/*#endregion */

/*#region Secondary */

.button.secondary {
    --background : var(--baseline-700);
    box-shadow   : 1px 1px 12px -5px hsla(var(--baseline-100), .15);
}

.button.secondary.clicked,
.button.secondary:hover:active,
.button.secondary:hover {
    --background : var(--baseline-600);
}

/*#endregion */

/*#region Outline */

.button.outline {
    --radius       : 0.25rem;
    box-shadow     : 1px 1px 12px -5px hsla(var(--shadow), 0.5);
    outline        : 1px solid hsla(var(--baseline-500), .25);
    outline-offset : -1px;

}

.button.outline:hover:active,
.button.outline:hover {
    --background : var(--baseline-700);
}

/*.button.outline:active::before*/
/*{*/
/*    inset: .125rem*/
/*}*/

/*#endregion */

/*#region Submit */
/*#endregion */

/*#region Icon */

.button.icon {
    padding : 0.5rem;
}

/*#endregion */