field > div.label
{
    height      : 2em;
    font-size   : 0.875rem;
    line-height : 1;
}

field > div.label > label
{
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    cursor   : pointer;
    padding  : 0.5rem 0;
}