section#notifications {
    --top-offset    : 1rem;
    --right-offset  : 1rem;
    --outline-color : blue;
    --gap           : 1rem;
    position        : fixed;
    top             : var(--top-offset);
    right           : var(--right-offset);
    z-index         : 125;
    min-width       : 210px;
    max-width       : 80vw;
    display         : flex;
    flex-direction  : column;
    align-items     : flex-end;
}

toast.error {
    --accent : var(--error)
}

toast.warning {
    --accent : var(--warning)
}

toast.info {
    --accent : var(--info)
}

toast.success {
    --accent : var(--success)
}

toast.notice {
    --accent : var(--notice)
}

section > toast {
    --accent         : var(--outline);
    position         : relative;
    display          : flex;
    flex-direction   : column;
    font-size        : 0.875rem;
    /*background-color	: hsla(var(--baseline-900));*/
    background-color : hsla(var(--baseline-900), .85);
    backdrop-filter  : blur(5px);
    border-radius    : 0.25rem;
    opacity          : 1;
    transform        : translateX(0);
    transition       : opacity 200ms ease, transform 200ms ease, max-height 200ms ease, margin 200ms ease, background-color 200ms ease;
    max-height       : 120px;
    margin-bottom    : var(--gap);
    overflow         : hidden;
    box-shadow       : 1px 1px 6px -2px var(--shadow-color);
}

toast:hover,
toast:focus-within,
toast:focus {
    background-color : hsla(var(--baseline-900), 1);
}

section > toast > button.close {
    position : absolute;
    top      : 0;
    right    : 0;
}

section > toast > svg.icon {
    position : absolute;
    top      : .75rem;
    left     : .5rem;
    height   : 1em;
    width    : 1em;
    color    : hsla(var(--accent));
}


toast > svg.icon + output.message {
    padding-left : 2em;
}

toast output.message {
    overflow    : hidden;
    padding     : .5rem 2rem .5rem .5rem;
    line-height : 1.5;
    color       : hsla(var(--baseline-50));
}

toast div.description {
    padding : 0 1rem .5rem .5rem;
    color   : hsla(var(--baseline-300));
}

toast.hidden {
    opacity       : 0;
    transform     : translateX(50%);
    max-height    : 0;
    margin-bottom : 0;
}

toast > ol.events { display : none;}

/*noinspection CssUnresolvedCustomProperty*/
toast:not(.hidden)::after {
    content          : '';
    position         : absolute;
    right            : 0;
    bottom           : 0;
    /*height				: 100%;*/
    height           : 4px;
    width            : 100%;

    background-color : hsl(var(--accent), .5);
    /*background		: linear-gradient(transparent, hsl(var(--success), .15));*/
    pointer-events   : none;
    z-index          : 1;
    animation        : toastTimeOut var(--timeout) ease-out;
}

@keyframes toastTimeOut {
    50% {
        width : 100%;
    }
    100% {
        width : 0;
    }
}