
html {
  font-family    : "Inter V", sans-serif;
  color          : var(--color);
  background     : var(--background);
  min-height     : 100vh;
  display        : flex;
  flex-direction : column;
}

body {
  display        : flex;
  flex-direction : column;
  flex-grow      : 1;
  min-height     : 100%;
}