<!DOCTYPE html>
<html lang="{$get->language}" id="top" theme="{$get->theme}" status="init">
<head>

    <!-- Document Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta n:foreach="$document->meta('robots') as $robots" n:attr="{$robots}">
    <!-- Content Tags -->
    <title>{$document->title}</title>
    <meta n:foreach="$document->meta('info') as $info" n:attr="{$info}"/>

    <!-- Preload Assets -->

    <!-- Styles -->
    <link n:foreach="$document->stylesheets as $stylesheet" href="{$stylesheet}" rel="stylesheet">

    <!-- Scripts -->
    <script n:foreach="$document->scripts as $script" src="{$script}" defer></script>

    <!-- Favicon -->
    <meta n:foreach="$document->favicon() as $favicon" n:attr="{$favicon}">

    <!-- Theme -->
    <meta name="theme-color" content="{$get->theme->color}">
    <meta name="color-scheme" content="{$get->theme->scheme}">
    <meta n:foreach="$document->meta('msapplication') as $msapplication" n:attr="{$msapplication}">

    <!-- Facebook -->

    <!-- Twitter -->

    <!-- LinkedIn -->

</head>

<body n:attr="$document->body->attributes">
{block 'body'}{/block}
</body>
</html>