<!DOCTYPE html>
<html lang="{$get->language}" id="top" theme="{$get->theme}" status="init">
<head>

    <!-- Remove HTML comments if the next line is empty, or another comment. -->

    <!-- Document Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="{$document->robots}">

    <!-- Content Tags -->
    <title>{$document->title}</title>
    <meta n:foreach="$document->meta('info') as $name => $content" name="{$name}" content="{$content}"/>

    <!-- Preload Assets -->

    <!-- Styles -->
    <link n:foreach="$document->stylesheets as $path" href="{$path}" rel="stylesheet">

    <!-- Scripts -->
    <script n:foreach="$document->scripts as $path" src="{$path}" defer></script>

    <!-- Favicon -->
    <link n:foreach="$document->favicon->link} as $link" n:attr="{$link}">

    <!-- Theme -->
    <meta name="theme-color" content="{$get->theme->color}">
    <meta name="color-scheme" content="{$get->theme->scheme}">
    <meta name="msapplication-TileColor" content="#{$document->favicon->tileColor}">
    <meta name="msapplication-config" content="{$document->favicon->browserconfig}">

    <!-- Facebook -->

    <!-- Twitter -->

    <!-- LinkedIn -->


</head>

<body n:attr="$document->body->attributes">
{block 'body'}{/block}
</body>
</html>