{layout '_document.latte'}

{block 'body'}

    {if $content}

        Content set

    {else}


        <span n:if="$status">{$status}</span>
        <h1>
            {$message ?? 'Error Page'}
        </h1>
    {/if}
{/block}