{* templates/email/_body *}
<html lang="{$lang??null}">
<head>
    <meta charset="utf-8">
    <title>{$title??null}</title>
    <style n:ifset="$style">{$style}</style>
</head>
<body>
{block 'body'}{/block}
{$signature??null}
{$tracking??null}
</body>
</html>